<html>
    <head>
        <link rel="stylesheet" href="./styles.css">
        <title>Mini Message Board</title>
    </head>
    <body>
        <h1>Welcome to my Message Board!</h1>
    </body>
</html>