<html>
    <head>
        <link rel="stylesheet" href="./styles.css">
        <title><%= title %></title>
    </head>
    <body>
        <% messages.forEach((message)=>{ %>
            <%= message.user %>
            <br>
            <%= message.text %>
            <br>
            <%= message.added %>
            <br>
        <% }) %>
    </body>
</html>